@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face{
    font-family: 'ClashFuente';
    src: url('/Fuente/YouBlockhead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow-x: hidden;
    background-image: url(/img/FondosIconos/background_blue.jpg);
}
.Contenedor-cartas{
    margin-top: 200px;
}
.Botones{
    margin-top: 50px;

}

.boton{
    background-color: #305cde;

}
.boton:hover{
    scale: 115%;
    background-color: #2851cc;
}
.Promedio{
    width: 100%;
    text-align: center;
    font-family: 'ClashFuente';
    margin-top: 50px;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.792);
}

.Imagen:hover{
    scale: 105%;
}

.contenedor-historial{
    margin: 30px;
    background-color: #001247d2;
    border-radius: 15px;
    padding: 20px;
}

.MazoHistorial{
    margin: 10px;
    padding: 30px;
    padding-left: 80px;
    background-color: #1f3fa0;
    border-radius: 15px;
}

.CopiarHistorial{
    background-color: #a5aec9;
    color: #000000 !important; 
    scale: 140%;
    margin-left: 70px;
}

.CopiarHistorial:hover{
    background-color: #8e95a9;
}